.cvs {
	-moz-user-select:      none;
	-khtml-user-select:    none;
	-webkit-user-select:   none;
	-webkit-touch-callout: none;
	-ms-user-select:       none;
	user-select:           none;
	padding:1px;
	background:#424242;
	margin-top:2px;
	border-radius: 0px;
	color:white
}

.game_div {
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	top:0;
	margin:0 auto;
}

.canvas_div {
	width: 100%;
}

.btn {
	font-family: Arial;
	color: #f0f0f0;
	font-size: 20px;
	width: 48%;
	border-radius: 0px;
	border: 0px;
	background: #424242;
	padding: 1% 2% 1% 2%;
	letter-spacing: 0px;
	font-weight:800;

}

.btn:hover {
	background: #5f5f5f;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}



.header {
	width: 100%;
	margin-top: 4px;
	letter-spacing:-3px;
	font-weight:bold;
	color:#424242;
}

.beforeGrid {
	margin-top: 4px;
	width: 100%;
}

.scoreContainer {
	float: right;
	text-align: right;
	background: #424242;
	margin-top: 8px;
}

.score, .highscore {
	position: relative;
	display: inline-block;
	letter-spacing: 0px;
	padding: 13px 30px;
	font-size: 20px;
	height: 25px;
	line-height: 47px;
	font-weight: bold;
	color: #f0f0f0;

	text-align: center;
}

.score {
	border-right: 1px solid #f0f0f0;
	margin-right:-6%;
}

.highscore {
	margin-right: 3%;
}

.score:after, .highscore:after {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
	font-size: 14px;
	line-height: 5px;
	text-align: center;
	color: #909090;
}

.score:after {
	content: "Score";
}

.highscore:after {
	content: "Record";
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	right: 0;
	bottom: 0;
	left: 0;
	top:-10%;
	background: rgba(0,0,0,0.4);
	z-index: 99999;
	opacity:0;
	-webkit-transition: top 400ms ease-in-out; /*, opacity 400ms ease-in-out; */
	-moz-transition: top 400ms ease-in-out; /*, opacity 400ms ease-in-out; */
	transition: top 400ms ease-in-out; /*, opacity 400ms ease-in-out; */
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	top:0%;
	pointer-events: auto;
}

.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 0ppx;
	color: #424242;
	background: #c0c0c0;"
}

.close {

	font-family: Arial;
	color: #f0f0f0;
	font-size: 20px;
	width: 48%;
	border-radius: 0px;
	border: 0px;
	background: #424242;
	padding: 1% 2% 1% 2%;
	letter-spacing: 0px;
	font-weight:800;


	line-height: 25px;
	position: absolute;
	right: 50%;
	margin-right:-75px;
	text-align: center;
	top: 75%;
	border-radius: 0px;
	width: 150px;
	text-decoration: none;

}


.close:hover {
	background: #5f5f5f;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
